
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #607D8B;
  padding: 10px 0;
  text-align: center;
}

#navbar h1 {
  margin: 0;
  color: white;
}

h3 {
  margin: 20px;
}

#server {
  margin: 30px 20px;
  float: right;
}

#uploader {
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  margin: 0 100px;
}

#displayImage {
  float:left;
  margin: 50px 100px;
  width: 350px;
  height: 350px;
}

#submitButton {
  margin-top: 20px;
}

#detection {
  margin-top: 50px;
  margin-bottom: 10px;
}

#classDetails {
  float:middle;
  margin: 10px;
}

#cautionBlock {
  color: maroon;
  margin: 10px;
}

#confidenseBlock {
  float:middle;
  margin: 10px;
}

p {
  margin: 10px 100px;
  white-space: normal;
}

#descTable {
  display: none;
  float: left;
}

table {
  border-collapse: collapse !important;
  margin: 0px 100px 50px 100px;
  width: 60%;
  border: 1px solid grey;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid grey;
}

th {
  background-color: #e8e8e8;
}
