
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #607D8B;
  padding: 10px 0;
  text-align: center;
}

#navbar h1 {
  margin: 0;
  color: white;
}

h3 {
  margin: 20px;
}

#server {
  margin: 30px 20px;
  float: right;
}

#uploader {
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  margin: 0 100px;
}

#displayImage {
  float:left;
  margin: 100px;
  width: 350px;
  height: 350px;
}

#submitButton {
  margin-top: 20px;
}

#classDetails {
  float:middle;
  margin-top: 100px;
}

#cautionBlock {
  color: maroon;
}

.HighConfidence {
  float:middle;
  color: green;
}

.MediumConfidence {
  float:middle;
  color: #F6BE00;
}

.LowConfidence {
  float:middle;
  color: maroon;
}

p {
  margin: 10px 100px;
  white-space: normal;
}
